/**
 *
 */
html, body {
  background-color: white; }

body > section.page > div.page-content {
  background-color: #f3f3f3;
  font-size: 12pt;
  font-family: "Malgun Gothic", "AppleGothic", "Gulim", serif; }

body > section.page h1, body > section.page h2, body > section.page h3, body > section.page h4, body > section.page h5, body > section.page h6,
body > section.page div, body > section.page span,
body > section.page a {
  font-family: "Malgun Gothic", "AppleGothic", "Gulim", serif; }

.page-content {
  padding: .4em; }

.page-content {
  background-color: #f3f3f3; }

.post-write-form, .comment-edit-form {
  margin: 0  0 .2rem;
  padding: .3rem;
  background-color: grey; }

.post-list-page {
  margin-bottom: 1rem; }
  .post-list-page .header {
    margin-bottom: 1rem;
    padding: .4rem;
    background-color: #d5dde8; }

.post {
  margin-bottom: 1rem;
  word-break: break-all; }
  .post .display {
    margin: 0 0 0.4rem;
    padding: 0.3rem;
    background-color: #c8d5e4; }
  .post .meta {
    margin: 0 0 0.4rem; }
    .post .meta .info {
      margin: 0 0 0.4rem;
      padding: 0.3rem; }
    .post .meta .buttons {
      padding: 0.3rem;
      font-size: 9pt; }
      .post .meta .buttons span {
        cursor: pointer; }
  .post .title {
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 1.6rem !important;
    color: #222; }
    .post .title:hover {
      color: #02E;
      text-decoration: none; }
  .post .content {
    line-height: 1.4em;
    max-height: 5.6em;
    overflow: hidden; }
    .post .content img {
      max-width: 100%; }

.post.deleted .meta .post-edit-button,
.post.deleted .meta .post-delete-button,
.post.deleted .meta .post-like-button,
.post.deleted .meta .post-report-button,
.post.deleted .meta .post-copy-button,
.post.deleted .meta .post-blind-button {
  display: none; }

.comments .buttons {
  font-size: 9pt; }

.comment {
  margin: 0 0 0.4rem;
  padding: 0.3rem; }
  .comment .comment-meta .buttons span {
    cursor: pointer; }
  .comment .comment-content {
    padding: .4rem; }
  .comment[depth='0'], .comment[depth='1'] {
    margin-left: 0;
    background-color: #e0e4e4; }
  .comment[depth='2'] {
    margin-left: 1em;
    background-color: #e4e8e8; }
  .comment[depth='3'] {
    margin-left: 2em;
    background-color: #ebefef; }
  .comment[depth='4'] {
    margin-left: 3em;
    background-color: #f1f5f5; }
  .comment[depth='5'] {
    margin-left: 5em;
    background-color: #f5f2ed; }
  .comment[depth='6'] {
    margin-left: 5.5em;
    background-color: #f6f3ee; }
  .comment[depth='7'] {
    margin-left: 6em;
    background-color: #fffcf6; }
  .comment[depth='8'] {
    margin-left: 6.4em;
    background-color: #c0d0d0; }
  .comment[depth='9'] {
    margin-left: 6.8em;
    background-color: #c0d0d0; }
  .comment[depth='10'] {
    margin-left: 7.2em;
    background-color: #c0d0d0; }
  .comment[depth='11'], .comment[depth='12'], .comment[depth='13'], .comment[depth='14'], .comment[depth='15'], .comment[depth='16'] {
    margin-left: 7.6em;
    background-color: #c0d0d0; }

.comment.deleted {
  background-color: #e6dfd4; }
  .comment.deleted .comment-meta .comment-edit-button,
  .comment.deleted .comment-meta .comment-delete-button,
  .comment.deleted .comment-meta .comment-like-button,
  .comment.deleted .comment-meta .comment-report-button,
  .comment.deleted .comment-meta .comment-copy-button,
  .comment.deleted .comment-meta .comment-blind-button {
    display: none; }

.post-write-form [name="content"] {
  height: 10em; }
.post-write-form .buttons {
  overflow: auto; }
  .post-write-form .buttons .file-upload {
    display: block;
    padding: 4px; }
  .post-write-form .buttons .file-upload-button {
    padding-left: 4px;
    font-size: 18pt; }
  .post-write-form .buttons .left {
    float: left; }
  .post-write-form .buttons .right {
    float: right; }

.comment-edit-form [name="comment_content"] {
  width: 100%;
  height: 10em; }

.comment-write-form .buttons {
  display: none; }
.comment-write-form .fa-camera {
  font-size: 1.6em; }
.comment-write-form textarea {
  width: 100%;
  height: 2em; }
.comment-write-form.selected {
  padding: 0.3rem;
  background-color: #e9e9e9; }
  .comment-write-form.selected .fa-camera {
    font-size: 2em; }
  .comment-write-form.selected textarea {
    height: 120px; }
  .comment-write-form.selected .buttons {
    display: block; }

.buttons .no {
  margin: 0;
  padding: 1px 0 0 3px;
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  overflow: hidden;
  border-radius: 50%;
  background-color: #014c8c;
  color: white; }

.file-upload {
  position: relative;
  cursor: pointer; }
  .file-upload input {
    position: absolute;
    top: 0;
    z-index: 123;
    width: 36px;
    height: 32px;
    font-size: 10em;
    overflow: hidden;
    opacity: .5;
    cursor: pointer; }
  .file-upload .file-upload-button {
    cursor: pointer; }

/*# sourceMappingURL=main.css.map */
