$post-padding: .6em;
$post-background-color: #f7f7f7;

.post {
  margin-bottom: 1em;
}

.post .meta {
  padding: $post-padding;
  background-color: #ebefef;
  font-size: .85em;
}

.post .title {
  padding: $post-padding;
  background-color: $post-background-color;
}

.post .content {
  padding: $post-padding;
  background-color: $post-background-color;
}

.post .buttons {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display:inline;
  }
}


/// post write form
.form.post-write {
  [name="title"] {
    width: 100%;
  }
  [name="content"] {
    width: 100%;
  }
}
/// comment write form
.form.comment-write {
  [name='comment_content'] {
    width: 100%;
    height: 1.4em;
  }
  .buttons {
    display: none;
  }
  &.selected {
    [name='comment_content'] {
      height: 10em;
    }
    .buttons {
      display: block;
    }
    .icon {
      font-size: 1.6rem;
    }
  }
}


  /// file upload button
.file-upload {
  position: relative;
  cursor: pointer;
  input {
    position: absolute;
    top:0;
    z-index: 123;
    width: 36px;
    height: 32px;
    font-size:10em;
    overflow: hidden;
    opacity: .5;
    cursor: pointer;
  }
  .icon {
    cursor: pointer;
  }
}