$post-padding: .6em;
$post-background-color: #f7f7f7;
.form.post-write {
  [name="title"] {
    width: 100%;
  }
  [name="content"] {
    width: 100%;
  }
}


.post {
  margin-bottom: 1em;
}

.post .meta {
  padding: $post-padding;
  background-color: #ebefef;
  font-size: .85em;
}

.post .title {
  padding: $post-padding;
  background-color: $post-background-color;
}

.post .content {
  padding: $post-padding;
  background-color: $post-background-color;
}

.post .buttons {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display:inline;
  }
}