.x-header  {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  height: $top_menu_height;
  overflow: hidden;
  nav {
    background-color: #2b3d51;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      @include clearfix;
      li {
        float: left;
        i {
          display: block;
          font-size: 1.4rem;
          text-align: center;
        }
        .item {
          display: block;
          padding: 6px 8px;
          color: white;
          cursor: pointer;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}